body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #fff;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #0f172a;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  z-index: 100;
}

.nav-links a {
  margin-left: 20px;
  color: #ccc;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.hero-left {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #38bdf8;
}

.hero-left h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-right img {
  width: 280px;
  border-radius: 50%;
  border: 5px solid #184c63;
  box-shadow: 0 0 30px rgba(56,189,248,0.5);
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: start; /* center horizontally */
  margin: 20px 0;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #0a66c2; /* LinkedIn blue for default, overridden for GitHub */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: transform 0.3s, background-color 0.3s;
}

.social-links a:nth-child(2) {
  background-color: #333; /* GitHub dark */
}

.social-links a:hover {
  transform: translateY(-5px);
  opacity: 0.85;
}

.social-links i {
  font-size: 18px;
}

/* BUTTONS */
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

.primary {
  background: #38bdf8;
  color: #000;
}

.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn:hover {
  opacity: 0.8;
}

/* SECTIONS */
.section {
  padding: 10px 15px;
}

.section h2 {
  margin-bottom: 30px;
  color: #38bdf8;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  padding: 8px 15px;
  background: #1e293b;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
}

.chip:hover {
  background: #38bdf8;
  color: #000;
  transform: scale(1.05);
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.date {
  font-size: 14px;
  color: #aaa;
}
.cover-letter {
  line-height: 1.8;
  font-size: 15px;
}

.cover-letter p {
  margin-bottom: 15px;
}


/* CONTACT */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #0f172a;
  border: 1px solid #38bdf8;
  color: #fff;
  border-radius: 5px;
}
